@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #1A1A1A;
  color: #D4AF37;
  font-family: 'Segoe UI', 'Roboto', 'Arial', sans-serif;
  min-height: 100vh;
}

.bg-graphite {
  background-color: #1A1A1A;
}

.text-gold {
  color: #D4AF37;
}

.logo-shadow {
  filter: drop-shadow(0 0 24px #D4AF37aa);
}
